.container {
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 10px rgba(179, 228, 30, 0.646); }
 
    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100px;
        height: auto;
    }
    .employee-info{
        position: absolute;
        top: 115px;
        left: 25px;
        width: 250px;
        height: auto;
    }
.attendance-details{  position: absolute;
    top: 285px;
    left: 25px;
    width: 250px;
    height: auto;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(194, 240, 8, 0.646);   

} 
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #2268c4;
    font-weight: bold;
}
.error-message {
    color: red;
    font-weight: bold;
}



